label.ui-button {
	color: #666;
	width: auto;
	border: 1px solid #67C5F8;
	border-color: #999 #666 #666 #999;
	padding: 2px 5px;
	background: #efefef;
	background: -webkit-gradient(
	    linear,
    	left bottom,
    	left top,
	    color-stop(0, #ccc),
	    color-stop(1, rgb(255,255,255))
	);
	background: -moz-linear-gradient(
    	center bottom,
    	#efefef 0%,
    	#ddd 100%
	);
	text-shadow: 1px 1px 1px white;
	cursor: pointer;
}

.ui-button-text {
	font-weight: normal;
}

label.ui-corner-left {
	border-radius: 2px 0px 0px 2px;
	-moz-border-radius: 2px 0px 0px 2px;
	-webkit-border-radius: 2px 0px 0px 2px;
}

label.ui-corner-right {
	border-radius: 0px 2px 2px 0px;
	-moz-border-radius: 0px 2px 2px 0px;
	-webkit-border-radius: 0px 2px 2px 0px;
}

label.ui-state-active, label.ui-button:hover {
	border-color: #67C5F8 #238cc5 #238cc5 #67C5F8;
	background: #d1eeff;
	background: -webkit-gradient(
	    linear,
    	left bottom,
    	left top,
	    color-stop(0, #c5dae5),
	    color-stop(1, rgb(255,255,255))
	);
	background: -moz-linear-gradient(
    	center bottom,
    	#c5dae5 0%,
    	#fff 100%
	);
}

#datepicker {
	visibility:hidden;
	width: 1px;
}

.ui-datepicker-trigger {
	margin-bottom: -5px;
	cursor: pointer;
}

/*
 * special layouts for avg hr, time and distance
 */
.wrap {
	width: 110px;
	height: 100px;
	display: block;
	float: left;
	margin: 10px 0px 20px 0px;
}

.wrap.duration {
	width: 191px;
}

.wrap input {
	width: 90px;
	height: 60px;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 2px 1px white;
}

.wrap label {
	position: absolute;
	margin-top: 71px;
	background: #efefef;
	width: 80px;
	padding: 5px 10px;
	text-align: center;
	border: 1px solid #999;
	border-top: 1px dotted #999;
	border-radius: 0px 0px 2px 2px;
	-moz-border-radius: 0px 0px 2px 2px;
	-webkit-border-radius: 0px 0px 2px 2px;
}

.wrap label img {
	margin-bottom: -5px;
}

.wrap.duration label {
	width: 160px;	
}

#TrainingstatisticDuration {
	width: 170px;
}

#CourseName label, #comment label {
	position: absolute;
	font-size: 18px;
	margin-top: 8px;
	margin-left: 10px;
	display: none;
}
#CourseName input {
	width: 391px;
	font-size: 18px;
}

.workouttype, .swimworkouttypes, .bikeworkouttypes, .runworkouttypes {
	display: none;
	margin-bottom: 10px;
}

/*
 * stats table
 */
table#stats {
	width: 402px;
	border: 1px solid #999;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-collapse: separate;
	margin-bottom: 10px;
}

table#stats td {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	background: -webkit-gradient(
	    linear,
    	left bottom,
    	left top,
	    color-stop(0, #ddd),
	    color-stop(1, white)
	);
	background: -moz-linear-gradient(
    	center bottom,
    	#c5dae5 0%,
    	#fff 100%
	);
	text-shadow: 1px 1px 1px white;
}

#kcal, #avgspeed {
	border: 0px solid #999;
	border-right-width: 1px;
	width: 33%;
}

table#stats th {
	border: 0px;
	border-top: 1px dotted #999;
	background: #efefef;
	padding: 7px;
}

table#stats .border-right {
	border-right: 1px solid #999;
}

.input.date.required {
	position: absolute;
	margin-top: -52px;
	margin-left: 172px;
}

.sportworkoutlabels, .sportworkout {
	float: left;
	background: -webkit-gradient(
	    linear,
    	left bottom,
    	left top,
	    color-stop(0, #efefef),
	    color-stop(1, white)
	);
	background: -moz-linear-gradient(
    	center bottom,
    	#efefef 0%,
    	#fff 100%
	);
	width: 85px;
	height: 76px;
	padding: 10px;
	border: 1px solid #999;
}
.sportworkout {
	width: 275px;
	border-left: 0;
	border-radius: 0px 2px 2px 0px;
	-webkit-border-radius: 0px 2px 2px 0px;
	-moz-border-radius: 0px 2px 2px 0px;
}
.sportworkoutlabels {
	background: #efefef;
	border-radius: 2px 0px 0px 2px;
	-webkit-border-radius: 2px 0px 0px 2px;
	-moz-border-radius: 2px 0px 0px 2px;
	border-right-style: dotted;
	margin-bottom: 10px;
}
.sportworkoutlabels label {
	margin-top: 5px;
	margin-bottom: 14px;
	font-size: 18px;
	text-shadow: 1px 1px 1px white;
}

#comment label {
	margin: 15px 5px;
}

#comment textarea {
	width: 280px;
	height: 87px;
	border: 1px solid #999;
	margin-top: 10px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}